body{
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    text-align: center;
    height: 100%;
    position: relative;
}

p {
    font-weight: 600;
    margin-bottom: 70px;
    /*text-align: justify;*/
}

hr {
    width: 300px;
    height: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.navbar {
    min-height:100px !important;
}


.navbar-dark .navbar-brand {
    color : white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color : #18bc9c;
}

.navbar-dark .navbar-brand:hover {
    color : #18bc9c;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.active {
    background-color: #cfcd2d;
    border-radius: 0.25rem !important; 
}

a.nav-item.nav-link.active:hover {
    color: white;
}

.bottomBar {
    background-color: #2d3035;
}

.bottomBar p {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400;
}

.odd-page {
    background-color: #cfcd2d;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.even-page {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #2c3e50;
}

.last-page {
    background-color: #2c3e50;
    color: white;
    padding-top: 30px;
    padding-bottom: 70px;
}

.page-title {
    font-size: 3em;
    font-weight: 700;
}

.last-page .fa {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.hr-odd {
    background : white;
}

.hr-even {
    background: #2c3e50; 
}

.img-thumbnail {
    height: 300px;
}

.img-story {
    /*margin: 30px 30px 30px 30px;*/
    width: 80%;
}

.shout {
    font-size: 20px;
    margin: 50px 50px 50px 50px;
}

/*.center-col{
    display: flex;
    align-items: center;
}*/

#name {
    font-size: 5em;
    font-weight: 700;
}

#title {
    font-weight: 600;
    margin-bottom: 100px;
}

#profile-pic {
    border-radius: 50%;
    margin-bottom: 50px;
}
